// Base
@import "../components/inc_select2";
@import "~select2";
@import "./../bases/common";
@import "../components/inc_nav_guest";
@import "../components/inc_footer_guest";
@import "include/inc_banner";
.section-home {
    .title-h2 {
        font-size: 38px;
        color: #4267b2;
        line-height: 46px;
        font-weight: 300;
        font-family: 'Open Sans',sans-serif;
        text-align: center;
        padding: 20px;
    }
    p.font-p {
        color: #88889b;
        font-size: 15px;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 60px;
        text-align: center;
    }
    .lists {
        display: flex;
        &-item {
            width: 50%;
            .img-width {
                width: 400px;
                max-width: 100%;
                height: auto;
            }
            .icon-block {
                display: block;
                margin-bottom: 35px;
                i {
                    width: 70px;
                    float: left;
                    margin-bottom: 25px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 22px;
                    background: #E2E2ED;
                    color: #4B456F;
                }
                h3 {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: #4267b2;
                }
                p {
                    font-weight: 400;
                }
            }
            .icon-info {
                overflow: hidden;
                padding-left: 15px;
            }
        }
    }
}
.become-form {
    background-image: url(/images/bg_building.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 20px;
    .content {
        display: flex;
    }
    .left {
        flex: 0 0 50%;
        padding-right: 35px;
        .apply-realtime {
            background: #fff;
            display: flex;
            box-shadow: 0 5px 10px 2px #ededed;
            padding: 15px;
            border-radius: 5px;
            width: 80%;
            margin: 0 auto;
            &:not(:last-child)
            {
                margin-bottom: 20px;
            }
            .avatar {
                height: 40px;
                width: 40px;
                min-width: 40px;
                margin-right: 15px;
                overflow: hidden;
                border-radius: 50%;
            }
            .info {
               .name {
                  b{
                      color: #1f7aff;
                  }
                   span {
                       color: #888;
                       font-weight: 300;
                       font-style: italic;
                       font-size: 13px;
                   }
                   p {
                       color: #999;
                       font-size: 13px;
                   }
               }
            }
        }
    }
    .right {
        padding-left: 35px;
        flex: 0 0 50%;
        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
            text-align: center;
        }
    }
}
