.select2-container {
    height: 43px !important;
    background-color: #f8f8f8 !important;
    border-radius: 50% !important;
}
.select2-container--default .select2-selection--single {
    height: 43px !important;
    background-color: #f8f8f8 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
    background-color: #f8f8f8;
    border-radius: 50% !important;
}

.select2-container--default .select2-selection--single {
    border: thin solid #e2e2e2;
    background-color: #f8f8f8 !important;
    border-radius: 50px !important;
}
.select2-dropdown {
    border: thin solid #e2e2e2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px !important;
}

